[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
blinker = "*"
pyyaml = "*"
cached-property = "*"
lxml = "*"
click = "*"
cairosvg = "*"
numpy = "*"
ipython = "*"
pyusb = "*"
sklearn = "*"
maestro-servo = "*"
lego-wireless = "*"
gobject = "*"
pygobject = "*"
dbus-python = "*"
pyqtree = "*"

[requires]
python_version = "3.8"
